<label class="text-blue">{{label}}</label>
<div class="select-wrapper" (click)="toggleMenu($event)" (clickOutside)="showMenu = false">
  <span class="selected-item" [class.select-placeholder]="!selectedLabelData.length">
    {{selectedLabelData.length ? selectedLabelData.toString() : placeholder }}
  </span>
  <app-icon type="chevron-down"></app-icon>
  <div
    class="select-menu"
    *ngIf="showMenu"
    [@verticalSlide]="{ value: ':enter', params: { initialOpacity: 0, yPosition: '-30px', duration: '.2s'}}">
    <div *ngFor="let item of data" class="select-menu-item"
         (click)="this.handleSelect(item.value, $event)"
         [class.selected]="selectedValueData.includes(item.value)">
      {{item.label}}
    </div>
  </div>
</div>
