<app-table-record>
  <app-table-cell label="Status">
    {{order.status}}
  </app-table-cell>
  <app-table-cell label="Supplier Name">
    {{order.supplierName}}
  </app-table-cell>
  <app-table-cell label="Month">
    {{order.month}}
  </app-table-cell>
  <app-table-cell label="Phase">
    {{order.phase}}
  </app-table-cell>
  <app-table-cell label="Internal order">
    {{order.internalOrder}}
  </app-table-cell>
  <app-table-cell label="Amount (USD)" position="right">
    {{ order.amount | currency }}
  </app-table-cell>

</app-table-record>
