@use "src/shared/styles/colors" as colors;

:host {
  display: flex;
  align-items: stretch;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .input {
    border: 1px solid colors.$gray-3;
    border-radius: 0.3125rem;
    width: 100%;
    font-size: 1rem;
    padding-right: 3.8125rem;
    padding-left: 1rem;
    min-height: 50px;

    &::placeholder {
      color: colors.$gray-3;
    }

  }
  app-icon {
    position: absolute;
    right: 1.375rem;
    height: 1.5625rem;
    font-size: 1.125rem;
  }

  .input-autocomplete-menu {
    position: absolute;
    width: 100%;
    border-top: 3px solid colors.$blue-3;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
    top: 3rem;
    left: 0;
    z-index: 99;
    max-height: 180px;
    overflow: scroll;

    .input-autocomplete-menu-item {
      padding: 1.25rem;
      cursor: pointer;
      &.selected {
        background-color: colors.$blue-3;
        color: white;
      }
      &:hover {
        background-color: colors.$gray;
        color: colors.$black;
      }
    }

  }


}

