@use "src/shared/styles/colors" as colors;

.table-record {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1.25rem;
  padding: 2.0625rem 1.4375rem;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: relative;
  border-radius: 3px;

}

@media screen and (max-width: 768px) {
  .table-record {
    background-color: #fff;
    padding: 0.625rem 0.9375rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.3125rem;

  }
}

