@use "src/shared/styles/colors" as colors;

:host {
  overflow: hidden;
}

.table-cell {
  display: flex;
  align-items: center;
  gap:0.4375rem;
  flex-wrap: wrap;
  &.right {
    justify-content: right;
  }
}

@media screen and (max-width: 768px) {
  .table-cell {
    display: grid !important;
    align-items: center;
    width: 100%;
    padding: 0.625rem 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    background-color: colors.$gray;

    &::before {
      content: attr(data-label);
      display: block;
      font-weight: 700;
    }

  }
}
