$black: #333333;
$red: #ee3e42;
$orange: #fbb03b;
$green: #7ac943;
$blue: #021c3c;
$blue-2: #052a59;
$blue-3: #3fa9f5;
$gray: #e8ebef;
$gray-2: #f4f6f9;
$gray-3: #b0b0b0;

$colors: (
  'black': $black,
  'red': $red,
  'orange': $orange,
  'green': $green,
  'blue': $blue,
  'blue-2': $blue-2,
  'blue-3': $blue-3,
  'gray': $gray,
  'gray-2': $gray-2,
  'gray-3': $gray-3,
)
