.app-title {
  font-size: 2.6rem;
  color: $blue;
  font-weight: bold;
}

.app-subtitle {
  font-size: 2rem;
  color: $blue;
  font-weight: 500;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}
