<div class="filters-wrapper" [formGroup]="filtersForm">
  <div class="filters">
    <div class="filters-item filter-search-wrapper">
      <app-input
        icon="search"
        placeholder="Search for Name"
        formControlName="supplierName"
      ></app-input>
      <app-icon type="sliders" label="Filters" (click)="showFilters = true"></app-icon>
    </div>
    <div class="filters-item">
      <app-tag *ngFor="let tag of tags" [label]="tag.label" (close)="removeFilter(tag.value)"></app-tag>
    </div>
    <span class="cursor-pointer text-blue-3 filter-right" *ngIf="tags.length" (click)="clearFilter()">Clear Filters</span>

  </div>
  <app-modal class="filter-modal" title="Filter Express"
             [show]="showFilters"
             (cancel)="showFilters = false"
             (accept)="applyFilters()">
    <div class="filters-modal-content">
      <div class="content-item">
        <label class="text-blue">Status</label>
        <div class="filters-item">
          <app-checkbox *ngFor="let item of statusFormControl.controls; index as i"
                        [label]="status[i].value" [formControl]="$any(item)"></app-checkbox>
        </div>
      </div>
      <div class="filters-item-grid">
        <app-select label="Phase"
                    formControlName="phase"
                    [multiple]="true"
                    [data]="phases">
        </app-select>
        <app-select label="Month"
                    formControlName="month"
                    [multiple]="true"
                    [data]="months">
        </app-select>
      </div>
    </div>
  </app-modal>
</div>


