@use "src/shared/styles/colors" as colors;

:host {
  display: flex;
}

.button {
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid colors.$blue-3;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;

  &.primary {
    background-color: colors.$blue-3;
    color: #fff;
  }

  &.secondary {
    background-color: white;
    color: colors.$blue-3;
  }

}
