@use "src/shared/styles/colors" as colors;

.badge {
  width: 30px;
  height: 20px;
  border-radius: 3px;

  &.active {
    background-color: colors.$green;
  }

  &.pending {
    background-color: colors.$blue-3;
  }

  &.waiting {
    background-color: colors.$orange;
  }
}
